@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "theme";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/jack-hermanson-css-lib/src/main";

body {
    font-family: "Ubuntu", sans-serif;
}

.main-navbar {
    background-color: $green;
    color: white;
}

a.dotted-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;

    &:hover,
    &:active {
        border-bottom: 1px solid white;
    }
}

.card {
    border: 0 !important;
}

.strain-picture {
    height: 300px;
    object-fit: cover;
}

select option[data-default] {
    color: #888;
}

body {
    background-color: #222;
}

.nav-icon {
    margin-right: 3px;
}


.card-table {
    tbody tr td a {
        padding-left: 0 !important;
        color: white;
    }
}
